mixin slider()
  .slider.swiper
    .swiper-wrapper
      .swiper-slide
        .container
          .main-slider__content
            h1.main-slider__title <span class="main-slider__title--green">Детокс-</span><span class="main-slider__title--white">программа</span><br> комплексного очищения организма <br>от <span class="main-slider__title--price">1099</span> руб
            .main-slider__button
              +button-color({
                text: 'Заказать',
                href:"#order"
              })
      .swiper-slide
        .container
          .main-slider__content
            h1.main-slider__title <span class="main-slider__title--green">Детокс-</span><span class="main-slider__title--white">программа</span><br> комплексного очищения организма <br>от <span class="main-slider__title--price">1099</span> руб
            .main-slider__button
              +button-color({
                text: 'Заказать',
                href:"#order"
              })
      .swiper-slide
        .container
          .main-slider__content
            h1.main-slider__title <span class="main-slider__title--green">Детокс-</span><span class="main-slider__title--white">программа</span><br> комплексного очищения организма <br>от <span class="main-slider__title--price">1099</span> руб
            .main-slider__button
              +button-color({
                text: 'Заказать',
                href:"#order"
              })
      .swiper-slide
        .container
          .main-slider__content
            h1.main-slider__title <span class="main-slider__title--green">Детокс-</span><span class="main-slider__title--white">программа</span><br> комплексного очищения организма <br>от <span class="main-slider__title--price">1099</span> руб
            .main-slider__button
              +button-color({
                text: 'Заказать',
                href:"#order"
              })
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next
    //- .swiper-scrollbar